// Array with all responsive classes/breakpoints
$sizes:     "mobile"   "tablet"   "computer";

// Arrays for min-width and max-width sizes
$media-min: 0          768px       992px;
$media-max: 767px      991px       9999px;


// $nav-templates: "menu" "tabular-menu" "tiered-menu" "vertical-menu" "sitemap-menu"

// See _menu.scss and _tabs-nav.scss for usage examples