@import "settings";
@import "global";
@import "navigation/dropdown";
@import "navigation/vertical-menu";
@import "navigation/sitemap-menu";

// Modal popup ugly fix
body {
  .modal {
    width: auto;
    position: fixed;

    margin-left: 0;
    z-index: 10500 !important;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
  }

  .modal-backdrop {
    position: fixed;

    background-color: #666;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 3000 !important;
  }

  .k-overlay {
    z-index: 10505 !important;
  }

  .k-window {
    z-index: 10510 !important;
  }
}
