<div class="@Model.CssClass">
    <ul>
        @for (int i = 0; i < Model.SiteMapNodes.Count; i++)
        {
            var node = Model.SiteMapNodes[i];

            if (i == Model.SiteMapNodes.Count - 1 && Model.ShowCurrentPageInTheEnd)
            {
                <li><strong>@node.Title</strong></li>
            }
            else
            {
                <li><a href="@node.Url">@node.Title </a></li>
            }
        }
    </ul>
</div>
