// Tabs
.tabs-nav {
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;

  > li {
    float: left;
    margin-bottom: -1px;

    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
    }
  }

  .active a {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
  }

  // Put some space if there is a sub nav after the tabs nav
  & ~ .sub-nav {
    margin-top: 5px;
  }
}

// Mixin for generating responsive classes and styles
// for the tabs navigation view
@mixin tabs-navigation($size, $number) {

  $min: nth($media-min, $number) !global;
  $max: nth($media-max, $number) !global;

  // Hide the top bar and show a <select> dropdown menu instead
  @media only screen and (min-width: $min) and (max-width: $max) {
    .tabs-nav-#{$size}-dropdown .tabs-nav,
    .tabs-nav-#{$size}-dropdown .sub-nav,
    .tabs-nav-#{$size}-hidden .tabs-nav {
        display: none;
    }

    .tabs-nav-#{$size}-dropdown .nav-select {
        display: block;
    }
  }
}

// Loop through all of the sizes
@for $i from 1 through length($sizes) {
  @include tabs-navigation(nth($sizes, $i), $i)
}
