<div class="@Model.CssClass">
    <ol class="sf-breadscrumb breadcrumb">
        @for (int i = 0; i < Model.SiteMapNodes.Count; i++)
        {
            var node = Model.SiteMapNodes[i];

            if (i == Model.SiteMapNodes.Count - 1 && Model.ShowCurrentPageInTheEnd)
            {
                <li class="active">@node.Title</li>
            }
            else
            {
                <li><a href="@node.Url">@node.Title </a></li>
            }
        }
    </ol>
</div>