@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

<ul class="@Model.CssClass list-unstyled">
    @foreach (var taxon in Model.Taxa)
    {
        <li>
            <a href="@taxon.Url">@taxon.Title</a>

            @if (Model.ShowItemCount)
            {
                
                <span class="text-muted">@Html.Raw(string.Format("({0})", taxon.Count))</span>
                
            }
        </li>

    }
</ul>