@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.DropdownListField.DropdownListFieldViewModel

<div class="@Model.CssClass from-group" data-sf-role="text-field-container">
    <strong>@Model.MetaField.Title</strong>
    <p>@Model.Value</p>
</div>
