//Arrays with
$sf-names: "1", "2", "3", "4", "5", "6";
$sf-sizes: 11, 13, 18, 24, 30, 36;
$sf-class: "sf-Tags-size";

// Mixin for generating taxonomy sizes

@mixin create-taxa-size-class {
    @each $item in $sf-names {
        $i: index($sf-names, $item);

        .#{$sf-class}#{$item} {
            font-size: nth($sf-sizes, $i) * 1px;
        }
    }
}

@include create-taxa-size-class;
