/* Hide the <select> dropdown by default */
.nav-select {
  display: none;
}

/* Navigation > Dropdown view */
.nav-select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

@mixin menu($size, $number) {

  // Assign the proper min-width and max-width values
  $min: nth($media-min, $number) !global;
  $max: nth($media-max, $number) !global;

  // Hide the top bar and show a <select> dropdown menu instead
  @media only screen and (min-width: $min) and (max-width: $max) {
    .menu-#{$size}-dropdown .menu,
    .menu-#{$size}-hidden .menu {
        display: none;
    }

    .menu-#{$size}-dropdown .nav-select {
        display: block;
    }
  }
}

// Loop through all of the sizes
@for $i from 1 through length($sizes) {
  @include menu(nth($sizes, $i), $i)
}
