// SiteMap
.sitemap {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  > li {
    display: table-cell;
    list-style: none;
    border-left: 1px solid #ccc;

    &:first-child {
      border-left-width: 0;
    }

    > ul ul {
      margin-left: 20px;
    }
  }

  ul {
    overflow: hidden;
    margin: 0;

    li {
      list-style-type: none;
    }

    a {
      display: block;
      padding: 10px 15px;
      font-size: 0.8125rem;
    }

    .active a {
      color: #1cc7ff;
    }
  }

  a {
    display: block;
    padding: 10px 15px;
  }
}

// Mixin for generating responsive classes and styles
// for the tabs navigation view
@mixin sitemap($size, $number) {

  $min: nth($media-min, $number);
  $max: nth($media-max, $number);

  // Generate classes for a one column fluid sitemap
  .sitemap-#{$size}-one-col {
    @media only screen and (min-width: $min) and (max-width: $max) {
      .sitemap {
        display: block;

        > li {
          display: block;
          border-left-width: 0;
          border-top: 1px solid #ccc;

          &:first-child {
            border-top-width: 0;
          }
        }
      }
    }
  }

  // Generate classes for a two columns sitemap
  .sitemap-#{$size}-two-cols {
    @media only screen and (min-width: $min) and (max-width: $max) {
      .sitemap {
        display: block;

        > li {
          float: left;
          width: 48%;
          margin: 0 1%;
          border-left-width: 0;
          border-top: 1px solid #ccc;

          &:first-child {
            border-top-width: 0;
          }
          &:nth-child(even) {
            clear: both;
          }
        }
      }
    }
  }
}

// Loop through all of the sizes
@for $i from 1 through length($sizes) {
  @include sitemap(nth($sizes, $i), $i)
}
