@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<div class="container">
		<link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Bootstrap/assets/dist/css/styles.min.css")' type="text/css" />
		@Html.SfPlaceHolder("Contentplaceholder1")
	</div>
</body>
</html>
