@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Bootstrap/css/bootstrap.min.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Bootstrap/css/bootstrap-sitefinity.min.css")' type="text/css" />

</head>
<body>
    <div class="container">@Html.SfPlaceHolder("Contentplaceholder1")</div>
</body>
</html>
