//Right-to-left support

@mixin sf-rtl-cultures {
    $available-rtl-cultures: ();
    
    @each $culture in $sf-rtl-cultures {
        $available-rtl-cultures: join($available-rtl-cultures, '[lang^="#{$culture}"]', "comma");
    }

    #{$available-rtl-cultures} {
        @content
    }
}

@include sf-rtl-cultures  {
    &:not(.sfPageEditorWrp) {
        direction: rtl;
    }
}