@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/SemanticUI/css/semantic.min.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/SemanticUI/css/semantic-sitefinity.min.css")' type="text/css" />
</head>
<body>
    @Html.SfPlaceHolder("Contentplaceholder1")
</body>
</html>
